@charset "utf-8";
/* CSS Document */
.clear{clear:both;}
a:link{color:#0c2d8c;text-decoration:none}
a:visited{color:#317cbc;}
a:active{color:#8c1317;}
a:hover{color:#8c1317;}
IMG.flLeft {float: left;padding:3px;}
IMG.flRight {float: right;padding:3px;}

html,body{
    background-color: #D9E2E1;
    color:#000000;
    font-family: Arial, Monospace;
    font-size:10pt;
}

.spoiler{
    border: 1px dotted #000;
}
.sspoiler{
    background: #000;
    border: 0px dotted #555;
    color: #000;
}

.content{
    padding-top:50px;
}

.boardTitle{
    text-align:center;
    font-size:36pt;
    font-weight:bold;
    color:#7e1b2f;
    text-shadow: 0px 0px 0px #0099FF;
}

.quote{
    padding:5px;
    border: 1px solid #889493;
    background-color:#677a79;
    color:#fff;
    border-radius:0px;
    box-shadow: 0px 0px 0px #000;
}

.quoteLine{
    color: #2f5f3a;
    text-shadow: 0px 0px 0px #5CD6FF;
}

.postBox{
    background-color:#7964a4;
    border-radius:0px;
    border-left: 1px solid #c8bbe1;
    border-top: 1px solid #c8bbe1;
    border-right: 1px solid #2c223f;
    border-bottom: 1px solid #2c223f;
    display: inline-block;
    padding: 5px;
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 50px;
    opacity: 1;
}
.postBox:hover{
    opacity: 1;
}
/*.postBox input{
    font-size:inherit;
    height:17px;
    border: 1px solid #000;
    background: #ffffff;
    color: #000000;

}*/
.postBox .eldesc{width:100px;float:left;}
.postBox #varname{width:125px;}
.postBox #varmail{width:125px;}
.postBox #varpass{width:260px;}
.postBox #varfile{width:260px;height:18px;}
.postBox #vartitle{width:300px;}
/*.postBox #varsubmit{margin-left:2px;
                    background:#959894;
                    width:60px;
                    height:23px;
                    margin-top:5px;
                    margin-bottom:4px; 
                    border-bottom:1px solid #484b48;
                    border-right:1px solid #484b48;
                    border-left:1px solid #cfd3cf;
                    border-top:1px solid #cfd3cf;
                    padding-bottom:4px;}*/
.postBox #fulltext{width:350px;height:70px;}
.postBox .tac{font-size:8pt;margin-top:10px;}
.bbcodeBar{
    height:24px;
    width:100%;
    background-color:#000;
}

.threadWatch{
    background-color:#7964a4;
    border-radius:2px;
    border-left: 1px solid #c8bbe1;
    border-top: 1px solid #c8bbe1;
    border-right: 1px solid #2c223f;
    border-bottom: 1px solid #2c223f;
    display: inline-block;
    color: #EEE;
    z-index: 10;
    position: absolute;
    top: 50px;
    opacity: 1;
    font-size:8pt;
    text-shadow: 0px 0px 0px #CCC;
}
.threadWatch:hover{opacity: 1;}
.threadWatch a{color:#fff;text-decoration:none;}
.threadWatch table{width:100%;margin:0px;border-spacing: 0px;}
.threadWatch table thead tr{background-color:#000;color:#fff;text-shadow: 0px 0px 0px #3D8BA6;}
.threadWatch table tbody tr:nth-child(2n){background-color:#595168;}
.threadWatch table tbody tr:nth-child(2n+1){background-color:#595168;}
.threadWatch table tbody td{border-right:1px solid #000;}
.threadWatch table tbody td:nth-child(1){text-align:center;}
.threadWatch table tbody td:nth-child(2){text-align:center;}
.threadWatch table tbody td:nth-child(3){text-align:center;}
.threadWatch table tbody td:nth-child(6){text-align:center;border: none;}
.watchButton{font-size:18pt;text-decoration: none;}
.watchDeleteButton:hover{color:#FF0000;text-shadow: 0px 0px 0px #FF0000;}
#watchClearButton{position:absolute;float:left;bottom:5px;left:50px;}
#watchClearButton:hover{color:#FF0000;text-shadow: 0px 0px 0px #FF0000;}
#watchReadButton{position:absolute;float:left;bottom:5px;left:30px;}
#watchReadButton:hover{color:#00FF00;text-shadow: 0px 0px 0px #00FF00;}
#watchRefreshButton{position:absolute;float:left;bottom:5px;left:10px;}
#watchRefreshButton:hover{color:#43e2ec;text-shadow: 0px 0px 0px #cbfcff;}
#watchRemoveCol{width:20px;}
#watchBoardCol{width:40px;}
#watchIDCol{width:30px;}
#watchPosterCol{width:100px;}
#watchUnreadCol{width:10px;}
.watchNewPosts{
    color:#EEEEEE;
    text-shadow: 0px 0px 5px #EEEEEE;
    font-weight:bold;
    box-shadow: 0px 0px 5px #FF0000;
    background: #FF0000;
}

.post, .postOP{
    display: inline-block;
    padding: 5px;
}

.post{
    background:#bbcac8;
    border-radius:0px;
    border-left: 1px solid #edf5f4;
    border-top: 1px solid #edf5f4;
    border-right: 1px solid #aebbba;
    border-bottom: 1px solid #aebbba;
    margin-left: 20px;
    margin-top:5px;
    width: inherit;
}

.postOP{
    background:#bbcac8;
    border-left: 1px solid #edf5f4;
    border-top: 1px solid #edf5f4;
    border-right: 1px solid #aebbba;
    border-bottom: 1px solid #aebbba;
    border-radius: 0px 0px 0px 0px;
    width: 99%;
}

#postType.postOP{
    background:transparent;
}

.sticky{
    position: relative;
    background:#bbcac8;
}

#postType.sticky{
    position: absolute;
    padding:10px;
    background:transparent;
    background-image:url("http://tymoon.eu/themes/chan/images/b_sticky.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.locked{
    position: relative;
    background:#bbcac8;
    background-position: top right;
    background-repeat: no-repeat;
}

#postType.locked{
    background:transparent;
    position: absolute;
    padding:10px;
    background-image:url("http://tymoon.eu/themes/chan/images/b_lock.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.stickylocked{
    position: relative;
    background:#bbcac8;
}

#postType.stickylocked{
    position: absolute;
    background:transparent;
    padding:20px;
    background-image:url("http://tymoon.eu/themes/chan/images/b_locksticky.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.selected{
    background:#d78e90;
    border-left: 1px solid #f9cbcc;
    border-top: 1px solid #f9cbcc;
    border-right: 1px solid #7d4b4d;
    border-bottom: 1px solid #7d4b4d;
}
#postType.selected{
    background:transparent;
}

.postImage{
    float:left;
    margin:5px;
    max-width:100%;
    max-height:100%;
}

.postTitle{
    color: #4b0806;
    font-size:12pt;
    font-weight:bold;
    text-shadow: 0px 0px 0px #000;
}

.postUsername, .postTripcode{font-size:10pt;}

.postUsername{
    color: #003517;
    font-weight:bold;
}

.postTripcode{
    color: #003517;
    text-shadow: 0px 0px 0px #00C8FF;
}

.postMod{
    color: #c124be;
    text-shadow: 0px 0px 0px #FFF;
    border-top: 2px dotted #c124be;
    border-bottom: 2px dotted #c124be;
    font-weight:bold;
}

.threadToolbar{
    margin-bottom:0px;
    margin-left: 0px;
}

.threadToolbar a{
    padding:3px;
    text-align:center;
    border-radius:0px 0px 0px 0px;
    background:#bbcac8;
    border-left: 1px solid #edf5f4;
    border-top: 1px solid #edf5f4;
    border-right: 1px solid #aebbba;
    border-bottom: 1px solid #aebbba;
    color:#000;
    text-decoration: none;
    font-size:12pt;
}

.threadToolbar a:hover{
    background:#d78e90;
    border-left: 1px solid #f9cbcc;
    border-top: 1px solid #f9cbcc;
    border-right: 1px solid #7d4b4d;
    border-bottom: 1px solid #7d4b4d;
}

.buttons{
}

.buttons a{
    position:relative;
    top:-4px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    padding: 5px 5px 5px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#888));
    background: -moz-linear-gradient(top,  #EEE,  #888);
    color:#000;
}
.buttons a:hover{
    background-color:#EEE;
}

.deleteBox, .reportBox{
    float:right;
    clear:right;
}

.footer{
    text-align:center;
    font-size:8pt;
    margin-top:10px;
}

.popup {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

.frontContent{
    background-color: #EEE;
    margin-left:5%;
    margin-right:5%;
    color: #000;
}

.frontNews{
    padding:10px;
    height:1024px;
}

.frontLatest{
    padding:10px;
    float:right;
    width:300px;
    margin-bottom:-10px;
    background: #888;
    background: -webkit-gradient(linear, left top, right top, from(#555), to(#999));
    background: -moz-linear-gradient(left,  #555,  #999);
    overflow:auto;
    height:1024px;
}
.frontLatestHead{
    font-weight:bold;
    font-size:18pt;
    color:#EEE;
}

.frontHeader{
    text-align:center;
    font-weight:bold;
    font-size:36pt;
    text-shadow:0px 0px 5px #EEE;
    color:#EEE;
    margin-bottom:10px;
}

.frontMenu{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:0px;
    list-style:none;
    height: 20px;
    background: #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#000));
    background: -moz-linear-gradient(top,  #999,  #000);
    text-align: center;
    display:block;
    padding:0px;
}
.frontMenu li{
    display:inline-block;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    background: -moz-linear-gradient(top,  #EEE,  #AAA);
    height:20px;
    text-align:center;
}
.frontMenu li a{
    text-decoration:none;
    padding:10px 5px 5px 5px;
}

.postFront{
    border-top: 1px solid #EEE;
    overflow:hidden;
}

.postImageFront{
    float:left;
    margin:5px;
    max-width:75px;
    max-height:75px;
}

.menu{
    border: 2px solid #2a1b46;
    background:#391086;
    list-style:none;
    position:fixed;
    width:100%;
    margin:0px;
    padding:0px;
    z-index:20;
    top:0px;
    left:0px;
}
.menu *{
    margin:0;
    padding:0;
}
.menu a{
    color:#FFF;
    text-decoration:none;
}
.menu li a{
    display:block;
    padding:10px;
    height:20px;
    background:#391086;
}

.menu li a:hover{
    background:#c7b0f2;
    color:#000;
}

.menu li{
    position:relative;
    display:block;
    float:left;
}
.menu li ul{
    position:absolute;
    list-style:none;
    width:1000px;
    margin:0px;
    padding:0px;
    display:none;
    height:40px;
}
.menu li ul li{
    background: #000;
    float:left;
    display:inline-block;
}
.menu .separator{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    background: #2a1b46;
}
.menu .separator2{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    width:2px;
    background: #2a1b46;
}
.menu > li > a.menulink{
    border: 1px solid #2a1b46;
    text-shadow: 0px 0px 0px #0099FF;
}
