@charset "utf-8";
/* CSS Document */
.clear{clear:both;}
a:link{color:#000;}
a:visited{color:#000;}
a:active{color:#000;}
a:hover{color:#666;}
IMG.flLeft {float: left;padding:3px;}
IMG.flRight {float: right;padding:3px;}

*::-webkit-scrollbar{width:9px;height:9px;}
*::-webkit-scrollbar-button:start:decrement,
  *::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
*::-webkit-scrollbar-track-piece{background-color:#000;}
*::-webkit-scrollbar-thumb:vertical,
  *::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#555;}

html,body{
    background-color: #333;
    color:#EEE;
    font-family: Arial, Monospace;
    font-size:10pt;
    margin:0;padding:0;
}

.spoiler{
    border: 1px dotted #EEE;
}
.sspoiler{
    background: #000;
    border: 1px dotted #555;
    color: #000;
}

.content{
    padding-top:50px;
    position:relative;
}

.boardTitle{
    display: block;
    text-align:center;
    font-size:36pt;
    font-weight:bold;
    text-shadow: 0px 0px 5px #0099FF;
}

#pageBanner{text-align:center;}

.quote{
    padding:5px;
    border: 1px solid #000;
    background-color:#555;
    color:#EEE;
    border-radius:5px;
    box-shadow: 0px 0px 5px #000;
}

.quoteLine{
    color: #5CD6FF;
    text-shadow: 0px 0px 3px #5CD6FF;
}

.postBox{
    background-color:#555;
    border-radius:2px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    color: #EEE;
    z-index: 10;
    position: absolute;
    top: 50px;
    opacity: 0.25;
}
.postBox:hover{
    opacity: 1;
}
.postBox input{
    font-size:10pt;
    height:15px;
    border: 1px solid #000;
    background: #333;
    color: #3D8BA6;
}
.postBox .eldesc{width:100px;float:left;}
.postBox #varname{width:125px;}
.postBox #varmail{width:125px;}
.postBox #varpass{width:260px;}
.postBox #varfile{width:260px;height:18px;}
.postBox #vartitle{width:300px;}
.postBox #varsubmit{width:60px;height:20px;margin-top:5px;}
.postBox #fulltext{width:350px;height:70px;}
.toolbar{
    width:100%;
    box-sizing:border-box;
    background: #000;
    list-style:none;
    padding:0;margin:0;
}
.toolbar li{display:inline-block;}

.threadWatch{
    background-color:#555;
    border-radius:2px;
    border: 1px solid black;
    display: none;
    color: #EEE;
    z-index: 10;
    position: absolute;
    top: 50px;
    opacity: 0.25;
    font-size:8pt;
    text-shadow: 0px 0px 3px #CCC;
}
.threadWatch:hover{opacity: 1;}
.threadWatch a{color:#EEE;text-decoration:none;}
.threadWatch table{width:100%;margin:0px;border-spacing: 0px;}
.threadWatch table thead tr{background-color:#000;color:#3D8BA6;text-shadow: 0px 0px 5px #3D8BA6;}
.threadWatch table tbody tr:nth-child(2n){background-color:#333;}
.threadWatch table tbody tr:nth-child(2n+1){background-color:#444;}
.threadWatch table tbody td{border-right:1px solid #000;}
.threadWatch table tbody td:nth-child(1){text-align:center;}
.threadWatch table tbody td:nth-child(2){text-align:center;}
.threadWatch table tbody td:nth-child(3){text-align:center;}
.threadWatch table tbody td:nth-child(6){text-align:center;border: none;}
.watchButton{font-size:18pt;text-decoration: none;}
.watchDeleteButton:hover{color:#FF0000;text-shadow: 0px 0px 5px #FF0000;}
#watchClearButton{position:absolute;float:left;bottom:5px;left:50px;}
#watchClearButton:hover{color:#FF0000;text-shadow: 0px 0px 5px #FF0000;}
#watchReadButton{position:absolute;float:left;bottom:5px;left:30px;}
#watchReadButton:hover{color:#00FF00;text-shadow: 0px 0px 5px #00FF00;}
#watchRefreshButton{position:absolute;float:left;bottom:5px;left:10px;}
#watchRefreshButton:hover{color:#3D8BA6;text-shadow: 0px 0px 5px #3D8BA6;}
#watchRemoveCol{width:20px;}
#watchBoardCol{width:40px;}
#watchIDCol{width:30px;}
#watchPosterCol{width:100px;}
#watchUnreadCol{width:10px;}
.watchNewPosts{
    color:#EEEEEE;
    text-shadow: 0px 0px 5px #EEEEEE;
    font-weight:bold;
    box-shadow: 0px 0px 5px #FF0000;
    background: #FF0000;
}

.post, .postOP{
    display: inline-block;
    position:relative;
    padding: 2px;
}

.post{
    background-color:#555;
    border-radius:5px;
    border: 1px solid #AAA;
    margin-left: 20px;
    margin-top:5px;
    width:97%;
}

.postOP{
    background-color:#777;
    border-left: 1px solid #EEE;
    border-top: 1px solid #EEE;
    border-radius: 5px 0px 0px 0px;
    width:99%;

    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#333));
    background: -moz-linear-gradient(top,  #777,  #333);
    background: -ms-linear-gradient(top,  #777,  #333);
    background: -o-linear-gradient(top,  #777,  #333);
}

.selected{
    border: 1px solid #FF0000;
    box-shadow: 0 0 20px #FF0000;
}

#postType{background: none;}
#postType::after{
    position:absolute;
    right:0;top:0;
    width:250px;
    text-align:right;
    font-size: 20pt;
    padding-right:2px;
    font-family: Arial;
}
#postType.locked::after{
    content:"LOCKED";
    background: -moz-linear-gradient(left, rgba(255,0,0,0) 0%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,0,0,0) 0%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,0,0,0) 0%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0)), color-stop(100%,rgba(255,0,0,1)));}
#postType.sticky::after{
    content:"STICKY";
    background: -moz-linear-gradient(left, rgba(0,255,0,0) 0%, rgba(0,255,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,255,0,0) 0%, rgba(0,255,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,255,0,0) 0%, rgba(0,255,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,255,0,0)), color-stop(100%,rgba(0,255,0,1)));}
#postType.stickylocked::after{
    content:"INFO";
    background: -moz-linear-gradient(left, rgba(0,0,255,0) 0%, rgba(0,0,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,255,0) 0%, rgba(0,0,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,255,0) 0%, rgba(0,0,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,255,0)), color-stop(100%,rgba(0,0,255,1)));}
#postType.redirect::after{
    content:"REDIRECT";color: #000;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));}

.postImage{
    float:left;
    margin:5px;
    max-width:100%;
    max-height:100%;
}

.postTitle{
    font-size:14pt;
    font-weight:bold;
    text-shadow: 0px 0px 5px #000;
}

.postUsername, .postTripcode{font-size:10pt;}

.postUsername{
    color: #00C8FF;
    font-weight:bold;
}

.postTripcode{
    color: #00C8FF;
    text-shadow: 0px 0px 5px #00C8FF;
}

.postMod{
    color: #FFF;
    text-shadow: 0px 0px 5px #FFF;
    border-top: 2px dotted #FFF;
    border-bottom: 2px dotted #FFF;
}

.postContent blockquote{margin:0;padding:0;padding-left:5px;}

a.omittedText,a.fetchPrevious,a.fetchNext{
    font-weight: bold;
    font-size: 10pt;
    color: #FFF;
    border-radius:2px;
    margin:2px;padding:2px;
    border: 1px solid #FFF;
}

.threadToolbar{
    margin-bottom:0px;
    margin-left: 10px;
}

.threadToolbar a{
    padding:3px;
    text-align:center;
    border-radius:10px 10px 0px 0px;
    background-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#000));
    background: -moz-linear-gradient(top,  #888,  #000);
    background: -ms-linear-gradient(top,  #888,  #000);
    background: -o-linear-gradient(top,  #888,  #000);
    color:#EEE;
    text-decoration: none;
    font-size:12pt;
}

.threadToolbar a:hover{
    background:#888;
}

.buttons{
}

.buttons a{
    position:relative;
    top:-3px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    padding: 5px 5px 5px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#888));
    background: -moz-linear-gradient(top,  #EEE,  #888);
    background: -ms-linear-gradient(top,  #EEE,  #888);
    background: -o-linear-gradient(top,  #EEE,  #888);
    color:#000;
}
.buttons a:hover{
    background-color:#EEE;
}

.deleteBox, .reportBox{
    float:right;
    clear:right;
}

.footer{
    text-align:center;
    font-size:8pt;
    margin-top:10px;
}


.popup,.jqmWindow {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #000;
    color: #FFF;
    border: 1px solid #CCC;
    padding: 2px;
    overflow: auto;
}

.jqmOverlay { background-color: #000; }

.menu{
    background-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#000));
    background: -moz-linear-gradient(top,  #777,  #000);
    background: -ms-linear-gradient(top,  #777,  #000);
    background: -o-linear-gradient(top,  #777,  #000);
    list-style:none;
    position:fixed;
    width:100%;
    margin:0px;
    padding:0px;
    z-index:20;
    top:0px;
    left:0px;
}
.menu *{
    margin:0;
    padding:0;
}
.menu a{
    color:#FFF;
    text-decoration:none;
}
.menu li a{
    display:block;
    padding:7px;
    height:20px;
}
.menu li{
    position:relative;
    display:block;
    float:left;
}
.menu li ul{
    position:absolute;
    list-style:none;
    width:1000px;
    margin:0px;
    padding:0px;
    display:none;
    height:20px;
}
.menu li ul li{
    background: #000;
    float:left;
    display:inline-block;
}
.menu li ul li:hover{background: #888;}

.menu .separator{
    height: 30px;
    background-color:#333;
    background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#000));
    background: -moz-linear-gradient(top,  #BBB,  #000);
    background: -ms-linear-gradient(top,  #BBB,  #000);
    background: -o-linear-gradient(top,  #BBB,  #000);
}
.menu .separator2{
    height: 35px;
    width:2px;
    background-color:#EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#555));
    background: -moz-linear-gradient(top,  #EEE,  #555);
    background: -ms-linear-gradient(top,  #EEE,  #555);
    background: -o-linear-gradient(top,  #EEE,  #555);
}
.menu > li > a.menulink{
    background-color:#333;
    background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#000));
    background: -moz-linear-gradient(top,  #BBB,  #000);
    background: -ms-linear-gradient(top,  #BBB,  #000);
    background: -o-linear-gradient(top,  #BBB,  #000);
    text-shadow: 0px 0px 5px #0099FF;
}

h1,h2,h3,h4,h5,h6{margin:0;display:inline;}
.fullwidth{width:100%;box-sizing: border-box;}

#content{position:relative;margin:0;padding:0;}

#chanTitle{
    padding: 2px 10px 2px 10px;
    text-align:center;
    margin-top:25px;
    margin-right:300px;
    font-size: 36pt;
    text-shadow: 0 0 10px #FFF;
}

#news{
    margin-right: 310px;
    min-height: 600px;
    padding:5px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
#news img{max-width:100%;}

#news .box{
    display:inline-block;
    position:relative;
    min-width:32%;
    min-height:200px;
    vertical-align:text-top;
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    margin: 2px;
    padding: 3px;
    box-sizing:border-box;
    zoom: 1;
    text-align:justify;
}
#news .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#postSidebar{
    border: 1px solid rgba(255,255,255,1);
    border-right: none;
    position:absolute;
    right:0;top:40px;bottom:0px;
    width: 300px;
    background: rgba(0,0,0,0.5);
    overflow:auto;
    overflow-x: hidden;
    border-radius: 10px 0px 0px 10px;
}
#postSidebar h3{
    text-align:center;
}
#postSidebar .simplePost{margin-top:5px;}
#postSidebar .simplePost .postInfo{
    background: #333;
    text-indent: 5px;
}
#postSidebar .simplePost article{padding:2px;}
#postSidebar .simplePost .postImage{max-width:100px;max-height:100px;}
#postSidebar .simplePost iframe{max-width:100px;max-height:100px;}