
#editor{
    margin: 0 !important;
    background: #E5E5E5 !important;
    border-radius: 0 !important;
    margin-top:-20px !important;
}
#folderhead .pagerForm{
    position:absolute;
    right:0;
    bottom:-27px;
    height:25px;
    background: #E5E5E5;
    border: 2px solid #AE61ED;
    border-top:none;border-right:none;
    border-radius: 0 0 0 5px;
    z-index: 10;
}


#bloghead{
    height:85px;
    z-index:20;
    position:relative;
    top:-20px;
}

#bloghead h2{
    display:inline-block;
    margin:0;padding:0;
    font-size:20pt;
}

#bloghead .userAvatar img{
    float:left;
}

#article{color: #000;border-bottom:none;}
#article blockquote{margin-top:0;}
#article blockquote img,#article blockquote iframe{
    float:none;
    border:none;
    border-radius:0;
    max-width:100%;
    max-height:100%;
}

#blogfoot,#folderfoot{
    min-height:20px;
    background: #FFF;
    border-top: 2px solid #AE61ED;
}

.commentSection{
    border:none !important;
    border-radius:0 !important;
    background:none !important;
    box-shadow:none !important;
    display: block !important;
}
.commentList>center{text-align:left;}


#folderhead{
    min-height:25px;
    z-index:20;
    background: #E5E5E5;
    position:relative;
    top:-20px;
    border-bottom: 2px solid #AE61ED;
    padding:10px;
}

#folderhead h2{
    display:inline-block;
    margin:0;padding:0;
}

.entry{
    margin-bottom:10px;
    color: #000;
    border-bottom: 2px solid #555;
}
.entry:last-child{border-bottom:none;}

.entry .bloghead{
    min-height: 60px;
}
.entry .bloghead h2{
    display:inline-block;
    margin:0;padding:0;
}
.entry .bloghead .userAvatar img{
    float:left;height:50px !important;width:50px !important;
}
.entry blockquote{
    margin: 10px;padding: 5px;
    background: #CCC;
    border-radius: 5px;
}
.entry blockquote img,.entry blockquote iframe{
    float:right;
    max-width:250px;
    max-height:250px;
    border: 2px solid #555;
    border-radius: 5px;
}