@charset "utf-8";
/* CSS Document */

html,body{
    background-color:#888888;
    background-image: url('./images/bg_top.png');
    background-position: left top;
    background-repeat: repeat-x;
    margin-left:3%;
    margin-right:3%;
    min-width:800px;
    position:relative;
    font-family: Arial, Helvetica, Sans-serif, Verdana,Times;
    margin-top:-3px;
}

.clear{clear:both;}

a:link{color:#000;}
a:visited{color:#000;}
a:active{color:#000;}
a:hover{color:#666;}

IMG.flLeft {float: left;padding:3px;}
IMG.flRight {float: right;padding:3px;}

.container{
    background-color:#FFFFFF;
    padding:15px;
    min-height:1000px;
    z-index:5;
}

.searchBox{
    position:absolute;
    top:5px;
    right:0px;
    border-radius:0px 0px 5px 5px;
    border: 1px solid #0055BB;
    background-color:#0099FF;
}

.interactiveSelect{
    display: inline-block;
    margin:0px;
    padding:0px;
}
.interactiveSelect ul{
    list-style: none;
    display:inline-block;
    margin:0px;
    padding:0px;
}
.interactiveSelect li{
    border-radius: 5px;
    background: #AAA;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top,  #EEE,  #CCC);
    padding: 5px;
    display:inline-block;
}

.settingsTable{
    width: 100%;
    border-spacing: 0px;
}
.settingsTable th:nth-child(1){width:2%;}
.settingsTable th:nth-child(2){width:5%;}
.settingsTable th:last-child{width:10%;}
.settingsTable thead tr{
    background: #777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#000));
    background: -moz-linear-gradient(top,  #777,  #000);
    color: #EEE;
}
.settingsTable thead tr th{border-right: 1px solid white;padding: 5px;}
.settingsTable tbody tr{
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top,  #EEE,  #CCC);
}
.settingsTable tbody tr td{border-right: 1px solid black;padding: 5px;}
.settingsTable tbody tr td input{width:100%;}

.browser{
    width: 100%;
    border-spacing: 0px;
}
.browser thead tr{
    background: #777;
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#000));
    background: -moz-linear-gradient(top,  #777,  #000);
    color: #EEE;
}
.browser th:nth-child(2){width:10%;}
.browser th:nth-child(3){width:10%;}
.browser th:nth-child(4){width:10%;}
.browser th:nth-child(5){width:10%;}
.browser thead tr th{border-right: 1px solid white;padding: 5px;}
.browser tbody tr{
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top,  #EEE,  #CCC);
}
.browser tbody tr td{border-right: 1px solid black;padding: 5px;}
.browser tbody tr td input{width:100%;}
.browser tbody tr.php{
    background: #CCF;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCF), to(#88F));
    background: -moz-linear-gradient(top,  #CCF,  #88F);
}
.browser tbody tr.html,.browser tbody tr.css{
    background: #CFC;
    background: -webkit-gradient(linear, left top, left bottom, from(#CFC), to(#8F8));
    background: -moz-linear-gradient(top,  #CFC,  #8F8);
}
.browser tbody tr.js{
    background: #FCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCC), to(#F88));
    background: -moz-linear-gradient(top,  #FCC,  #F88);
}
.browser tbody tr.dir{
    background: #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
    background: -moz-linear-gradient(top,  #888,  #555);
}

.error{
    font-size:12pt;
    text-align:left;
}

.header{}

.headerImg{
    text-align:center;
    height:155px;
    max-width:100%;
}
img.headerImg{
    max-width:100%;
}

.headline{
    float:left;
    position:absolute;
    left:0px;
    top:155px;
    width:100%;
    height:20px;

    background-color:#000;
    opacity:0.5;
}
.headlineText{
    float:left;
    position:absolute;
    left:0px;
    top:155px;
    width:100%;
    height:20px;

    font-size:15px;
    color:#FFFFFF;
    text-align:center;
    text-shadow: 0px 0px 8px #FFF;
}

.title{
    text-align:center;
    font-size:32pt;
    font-weight:bold;
}

.subtitle{
    font-size:18pt;
    font-weight:bold;
}

.menutitle{
    font-size:16pt;

}

.quote{
    padding:5px;
    border: 1px solid #000;
    background-color:#555;
    color:#EEE;
    border-radius:5px;
    box-shadow: 0px 0px 5px #000;
}

.footer{
    color:#CCC;
    font-size:8pt;
    text-align:center;
}
.footer a:link{color:#CCC;text-decoration:none;}

IMG.siteOverlay{
    float:left;
    position:absolute;
    width:1500px;
    height:1000px;
    left:-250px;
    top:0px;

    z-index:-1;
}

.admin{}
.admin_module{
    background-color:#000;
}
.admin_module a{color:#EEE;}
.admin_link{
    background-color:#CCC;
}

.controlpanelSidebar{
    float:left;
    width:20%;
    min-height:300px;
    background-color:#898989;
    border-radius: 5px 0px 0px 5px;
}
.controlpanelSidebar ul{
    box-shadow: 1px 0px 5px #000;
    background-color:#000;
    color:#EEE;
}
.controlpanelSidebar ul a li{
    font-size:12pt;
    border-top: 1px solid #EEE;
}
.controlpanelSidebar ul a li:nth-child(1){
    border-top: none;
}
.controlpanelSidebar ul a{color:#EEE;text-decoration:none;}
.controlpanelSidebar ul a li:hover{
    box-shadow: 0px 0px 5px #CCC;
    background-color:#CCC;
    color:#000;
    margin-right:-5px;
}

.controlpanelView{
    width: 79%;
    margin-left:20%;
    background-color:#CCC;
    padding:10px;
    min-height:500px;
    border-radius: 0px 5px 5px 5px;
    border-left: 2px solid #000;
}

.messageList{
    background-color:#FFF;
    color:#000;
    border-radius: 5px;
    border: 5px solid #000;
}
.messageList tr td{
    margin:0px;
    padding:0px;
}

.messageListRead{
    background-color:#FFF;
    color:#000;
}

.messageListUnread{
    background-color:#FFCC00;
    color:#000;
}

.messageBox{
    background-color:#FFF;
    border-radius:5px;
    border: 5px solid #000;
    color:#000;
    padding:10px;
    min-height:300px;
}

.messageHeader{
    padding:10px;
    font-size:12pt;
    background-color:#0099FF;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:5px;
    color:#000;
}

.messageButton{
    margin-top:-5px;
    background-color:#000;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    color:#EEE;
    display:inline-block;
}

.menulinks{
    float:right;
    margin-top:-1px;
}

.menulinks li{
    background-color:#000;
    color:#FFF;
    font-size:12pt;
    display: inline;
    list-style-type: none;
    padding: 10px;
    margin-right:5px;
    height:30px;
    border-radius: 0px 0px 5px 5px;
}
.menulinks a{text-decoration:none;}
.menulinks li:hover{
    text-shadow: 0px 0px 8px #FFF;
}

.innerContent{
    padding:10px;
    background-color:#858585;
    border-radius:5px;
}

.bar, .bar a{
    padding:10px;
    background-color:#000;
    border-radius:5px;
    color:#FFF;
}

.tag{
    display:inline;
    background-color:#0099FF;
    border-radius:5px;
    padding:2px;
}

.tag a{
    color:#FFF;
    text-decoration:none;
}

.pager{
    
}

.pager_current{
    color:#0099FF;
}

.button{
    color:#EEE;
    padding:3px;
    border-radius:10px;
    text-align:center;
    background-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#000));
    background: -moz-linear-gradient(top,  #888,  #000);
}
.button a{color:#EEE;text-decoration: none;}

.breadcrumbs{
    padding:3px;
    background-color:#000;
    color:#0099FF;
    border-radius:10px;
    border: 1px solid #000;
    display: inline-block;
}

.breadcrumbs a{
    color:#EEE;
    text-decoration: none;
    padding:3px;
    border-radius:10px;
    text-align:center;
    background-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#000));
    background: -moz-linear-gradient(top,  #888,  #000);
}

.bbcodeBar{
    height:20px;
    width:100%;
    background-color:#000;
}

.ga_title{
    font-size:22pt;
    font-weight:bold;
}

.ga_categories{
    
}

.ga_categories_sidebar{
    background-color:#AAA;
    border-radius: 0px 0px 10px 0px;
    padding-top:5px;
    padding-bottom:5px;
    min-width:200px;
    text-align: center;
    margin-left:-15px;
    width:200px;
    float:left;
}

.ga_categories_entry{
    float:left;
    margin:5px;
    padding:10px;
    background-color:#0099FF;
    border-radius:5px;
    text-align:center;
    min-width:150px;
}

.ga_pictures{

}

.ga_pictures_entry{
    float:left;
    margin:5px;
    padding:10px;
    text-align:center;
    min-width:150px;
}

.ga_image{
    text-align:center;
}

.ga_image img{
    max-width:100%;
    max-height:500px;
    text-align:center;
}

.ga_description{
    padding:10px;
    margin-top:-20px;
    margin-left:70px;
    margin-right:70px;
    background-color:black;
    color:#EEE;
    border-radius: 0px 0px 5px 5px;
}

.ga_widget_slider_hor{
    background-color:#EEE;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    min-height:100px;
    width:100%;
    text-align: center;
    vertical-align: middle;
}

.ga_widget_slider_ver{
    background-color:#EEE;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    min-width:100px;
    text-align: center;
}

.bl_categoryListEntry{
    padding:10px;
    margin-bottom:10px;
    border-bottom: 1px solid black;
    background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#FFF));
    background: -moz-linear-gradient(left,  #ccc,  #FFF);
    border-radius: 5px 0px 0px 5px;
}

.bl_title{
    font-size:22pt;
    font-weight:bold;
}

.bl_title a{
    color:white;
}

.bl_frontpage{
    background-color:#EEE;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

.bl_single{
    background-color:#ccc;
    padding-bottom:10px;
    margin-bottom:10px;
    border-radius: 5px;
}

.bl_single_header{
    background-color:black;
    color:white;
    border-radius: 5px 0px 0px 0px;
    padding:10px;
    height:75px;
}

.bl_description{
    padding:10px;
    margin-top:-20px;
    margin-left:10%;
    margin-right:10%;
    background-color:black;
    color:#EEE;
    border-radius: 0px 0px 5px 5px;
}

.bl_comment_num{
    float:right;
    padding:10px;
    background-color:black;
    border-radius: 5px 0px 5px 0px;
    color:#EEE;
    margin-bottom:-10px;
}

.bl_comment_num a{
    color:#EEE;
}

.bl_category_button{
    float:right;
    background-color:black;
    padding:5px;
    margin-top:-5px;
    border-radius: 0px 5px 0px 5px;
    color:#FFF;
}

.bl_category_button a{
    color:#FFF;
}

.co_entry{
    min-height: 80px;
    margin-right:10px;
    padding:10px;
    background-color:white;
    border-radius:3px;
}

.co_list{
    margin-top:10px;
    min-width:100%;
    width:100%;
}

.co_entryAvatar{
    float:left;
    margin-right:5px;
}

.fo_category_table{
    width:100%;
}

.fo_category_table{border:0px;}

.fo_category_header{
    background-color:#000;
    color:#EEE;
}

.fo_category_header th:nth-child(2){
    width:150px;
}

.fo_category_title{
    text-align: left;
    font-weight:bold;
    padding-left:10px;
}

.fo_category_subject{
    font-size:8pt;
    text-align: left;
    padding-left:5px;
}

.fo_forum_row{
    height:50px;
}

.fo_forum_new{
    background-color: #FFDD99;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFEE88), to(#EEBB66));
    background: -moz-linear-gradient(top,  #FFDD99,  #DDBB77);
}

.fo_forum_old{
    background-color: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top,  #EEE,  #CCC);
}

.fo_forum_locked{
    background-color: #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#888));
    background: -moz-linear-gradient(top,  #AAA,  #888);
}

.fo_forum_row td:nth-child(2){padding:5px;font-size:10pt;}

.fo_forum_min_title{
    text-align: left;
    font-weight:bold;
    width:80%;
    padding-left:10px;
}

.fo_forum_min_subject{
    font-weight:normal;
    font-size:8pt;
    padding-left:5px;
}

.fo_forum_min_counts{
    float:right;
    padding-right:5px;
    font-weight:normal;
    font-size:8pt;
}

.fo_forum{

}

.fo_forum .breadcrumbs{
    border-radius: 5px 5px 0px 0px;
    margin-bottom:-5px;
    margin-left: 2px;
}

.fo_forum_table{
    width:100%;
}

.fo_forum_header{
    background-color:#000;
    color:#EEE;
}

.fo_forum_header th:nth-child(2){width:100px;}
.fo_forum_header th:nth-child(3){width:150px;}

.fo_forum_title{
    text-align:left;
    padding-left:10px;
    font-size: 16pt;
    font-weight:bold;
    width:80%;
}

.fo_forum_subject{
    font-size: 8pt;
    text-align:left;
    padding-left:5px;
}

.fo_button_newthread{
    width:150px;
    float:right;
}

.fo_button_allread{
    width:120px;
    float:right;
    margin-right:10px;
}

.fo_thread_row{
    height:50px;
}

.fo_thread_old{
    background-color: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top,  #EEE,  #CCC);
}

.fo_thread_locked{
    background-color: #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#888));
    background: -moz-linear-gradient(top,  #AAA,  #888);
}

.fo_thread_new{
    background-color: #FFDD99;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFEE88), to(#EEBB66));
    background: -moz-linear-gradient(top,  #FFDD99,  #DDBB77);
}

.fo_thread_sticky{
    background-color: #0099FF;
    background: -webkit-gradient(linear, left top, left bottom, from(#0099FF), to(#55BBFF));
    background: -moz-linear-gradient(top,  #0099FF,  #55BBFF);
}

.fo_thread_row td:nth-child(2){text-align:center;}
.fo_thread_row td:nth-child(3){padding:5px;font-size:10pt;}

.fo_thread_min_title{
    font-size: 12pt;
    font-weight:bold;
    text-align:left;
    padding-left:5px;
}

.fo_thread_min_subject{
    font-size: 8pt;
    text-align:left;
    padding-left:5px;
}

.fo_thread{

}

.fo_thread .breadcrumbs{
    border-radius: 5px 5px 0px 0px;
}

.fo_thread_header, .fo_thread_footer{
    background-color:#000;
    height:30px;
    color:#EEE;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    font-weight:bold;
}
.fo_thread_header a, .fo_thread_footer a{
    color:#EEE;
    float:right;
    font-weight:normal;
    margin-right:5px;
}

.fo_thread_header .pager, .fo_thread_footer .pager{
    float:left;
    font-weight:normal;
}

.fo_thread_header .pager a, .fo_thread_footer .pager a{
    display:inline;
    float:none;
}

.fo_thread_header{
    border-radius: 0px 5px 0px 0px;
}

.fo_thread_footer{
    border-radius: 0px 0px 5px 5px;
}

.fo_thread_post, .fo_thread_op{
    margin-top:5px;
    margin-bottom:5px;
    min-height:300px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-radius:5px;
}

.fo_thread_post_header{
    padding-left:20px;
    padding-right:5px;
    background-color:black;
    border-radius: 5px 5px 0px 0px;
    color:#EEE;
    font-weight:bold;
}
.fo_thread_post_header a{
    float:right;
    color:#EEE;
}
.fo_thread_post_time{
    font-weight:normal;
    font-style: italic;
    font-size:10pt;
}

.fo_thread_post_footer{
    background-color:black;
    border-radius: 0px 0px 5px 5px;
    color:#EEE;
    text-align:right;
    height:10px;
    clear:both;
}
.fo_thread_post_footer a{
    position:relative;
    top:-20px;
    padding:3px;
    background-color:#000;
    border-radius:5px 5px 0px 0px;
    text-decoration:none;
    color:#EEE;
}

.fo_thread_post_sidebar{
    background-color: #EEE;
    padding-left:5px;
    min-height:300px;
    width:200px;
    float:left;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 5px #000;
}

.fo_thread_op .fo_thread_post_sidebar{
    background-color: #FFDD99;
}

.fo_thread_post_username{font-weight:bold;font-size:14pt;}
.fo_thread_post_username a{text-decoration:none;color:#0099FF;}
.fo_thread_post_tagline{font-size:8pt;}
.fo_thread_post_facts{font-size:10pt;}

.fo_thread_post_text{
    margin-left:200px;
    min-height:200px;
    padding:20px;
}

.fo_thread_post_edittime{
    font-style: italic;
    font-size: 10pt;
    padding-top:10px;
}

.fo_thread_post_signature{
    border-top:1px solid black;
    margin-left:200px;
    max-height:100px;
    overflow: hidden;
    padding:10px;
    margin-bottom:15px;
}

.fo_post_history_table{
    width:100%;
    font-size:10pt;
}
.fo_post_history_table tbody tr td{border:1px solid #000;}
.fo_post_history_table tbody tr td:nth-child(1){width:10%;}

.se_box{}

.se_box input{
    background-color:#000;
    color:#EEE;
    border: 1px solid #333;
    text-shadow: 0px 0px 5px #FFF;
}

.se_module{
    float:left;
    padding:10px;
}

.se_full_box{
    margin-left:-15px;
    margin-right:-15px;
    background-color:#000;
    color:#EEE;
    padding:10px;
}

.se_full_box input{
    background-color:#000;
    border: 1px solid #AAA;
    color:#EEE;
}

.se_search_field{
    width:100%;
}

.se_results{
    margin-top:10px;
    font-size: 18pt;
    font-weight: bold;
    text-align:center;
}

.se_results_entry{
    background-color:#EEE;
    margin-top:5px;
    padding:10px;
    text-align: left;
    font-size:12pt;
    font-weight: normal;
    border-radius: 5px;
}

.se_results_entry_title{
    margin-left:-10px;
    margin-right:-10px;
    margin-top:-10px;
    background-color:#000;
    color:#EEE;
    border-radius: 5px 5px 0px 0px;
    padding:2px;
    padding-left:15px;
}

.se_results_entry_title a{
    font-weight:bold;
    font-size:14pt;
    color:#EEE;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

.ins { background: #cfc; }
.del { background: #fcc; }
ins { background: #9f9; }
del { background: #f99; }
.diff {font-family: Monospace, Monospaced, System; font-size:10pt;}
.diff hr { background: none; border: none; border-top: 2px dotted #000; color: #fff; }
.diff tbody tr td {border: 0px;}
.diff tbody tr .line{background: #CCC;}