@font-face {font-family: pixelated;src: url('http://tymoon.eu/data/uploads/pixelated.ttf');}

html,body{
    margin:0px;
    margin-top:30px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: #777;
    padding:0px;
}

img{max-width:100%;max-height:100%;margin:5px;}
label{min-width:150px;display:inline-block;}
input,.button,textarea{border: 1px solid #CCC;background: #EEE;text-decoration:none;box-shadow: 0px 0px 3px #FFF;padding:2px;margin:2px;}
input:hover,.button:hover,textarea:hover{box-shadow: 0px 0px 10px #FFDD00;}
input[disabled='disabled'],textarea[disabled='disabled']{border: 1px solid #AAA;background: #CCC;box-shadow: none;}
input.roundbutton{
    width:20px;height:20px;border-radius:10px;border: 2px solid #000;padding:0px;color:#FFF;margin:0;
    background: rgb(69,72,77);
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));}
textarea{min-width:200px;min-height:100px;}
a{text-decoration: none;color:blue;}
a:hover{text-shadow: 0px 0px 5px #FFDD00;}
ul{list-style:none;padding-left:10px;}
hr{border: none;border-bottom:1px solid #FFF;box-shadow: 0px 0px 3px #FFF;}
h1,h2,h3,h4,h5,h6{margin-top:0;}
table{width:100%;border-spacing:0;}
table td,table th{border-left:1px solid #FFF;padding:3px;}
table td:first-child,table th:first-child{border-left:none;}
table th{background-color:#000;color:#FFF;font-weight:bold;}
table th a{color:yellow;}
table th:first-child{border-radius:5px 0px 0px 0px;}
table th:last-child{border-radius:0px 5px 0px 0px;}
table tbody tr{background-color:#CCC;}
table tbody tr:nth-child(2n){background-color:#BBB;}
.flLeft{float:left;}
.flRight{float:right;}
.clear{clear:both;}
.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}
.justify{text-align:justify;}
.title{font-size:18pt;font-weight:bold;margin-bottom:5px;margin-right:100px;}
.menu li{border-bottom: 1px solid #000;}
.small{font-size: 8pt;}
.medium{font-size: 12pt;}
.large{font-size:18pt;}
.huge{font-size:36pt;}

#header{
    font-size:12pt;
    font-weight:bold;
    padding: 5px;
    color: #FFF;
    text-shadow: 0px 0px 10px #FFF;
    
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    box-shadow: 0px 0px 10px #000;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:30px;
    z-index:10;
}

#navbar{
    margin-left:100px;
    border-radius: 0px 0px 0px 10px;
    display:block;
    
    background: #ae61ed;
    background: -moz-linear-gradient(top, #2f0044 0%, #ae61ed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f0044), color-stop(100%,#ae61ed));
    background: -webkit-linear-gradient(top, #2f0044 0%,#ae61ed 100%);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index:20;
}

#navbar a{
    color: #FFF;
    text-decoration: none;
    font-size:10pt;
    padding: 5px;
    display: inline-block;
    text-shadow: none;
    min-width:100px;
}

#navbar a.menu{
    background: -moz-linear-gradient(top, rgba(255,221,0,0) 0%, rgba(255,221,0,0) 75%, rgba(255,221,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,221,0,0)), color-stop(75%,rgba(255,221,0,0)), color-stop(100%,rgba(255,221,0,0.65)));
}

#navbar a:hover{text-shadow: 0px 0px 10px #FFF;}
#navbar ul { padding:0; margin:0; }
#navbar li { position:relative; float:left; list-style-type:none;margin-left: 5px;margin-rightt: 5px; }
#navbar ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
#navbar li:first-child a { border-left:none; }
#navbar li.last a { border-right:none; }
#navbar ul ul { 
    display:none;
    width:100%;
    position:absolute;
    left:0;
    background:#ae61ed;
    border-top:none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 5px #000;
}
#navbar ul ul li { float:none; }
#navbar ul ul a { padding:5px; border-left:none; border-right:none; font-size:14px; }

#pageNav{
    font-size:18pt;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #b2b2b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#b2b2b2));
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#b2b2b2 100%);
    border-bottom: 2px solid #ae61ed;
    padding: 0px 10px 0px 10px;
    height: 75px;
    margin-bottom:20px;
}

#pageNav img{
    max-width:60px;
    max-height:60px;
}

#pageNav .sectionheader{
    margin-right: 20px;
    font-size:18pt;
    font-family: pixelated, Arial;
    display:inline;
}

#pageNav .sectionsubheader{
    font-size:10pt;
}

#pageNav .tabs{
    display:inline-block;
    padding-top:45px;
}

#pageNav .tab{
    display: inline-block;
    vertical-align:text-bottom;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    font-size:12pt;
    height: 20px;
}

#pageNav a{text-decoration:none;color:black;}

#pageNav .activated{
    margin-bottom:-2px;
    border: 1px solid #ae61ed;
    border-bottom: none;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}

#content{
    background-color: #e5e5e5;
    padding-bottom: 20px;
    position:relative;
}

#footer{
    text-align:center;
    font-size:8pt;
    padding: 20px;
    color: #FFF;
    text-shadow: 0px 0px 5px #FFF;
    
    background: #777;
    background: -moz-linear-gradient(top, #777 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top, #777 0%,#0e0e0e 100%);
    
    position:relative;
    bottom:0px;
    left:0px;
    right:0px;
}

.bar{
    margin-top:-20px;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#afafaf)); /* Chrome,Safari4+ */
    border-bottom: 1px solid #888;
}

.bar .section{
    display:inline-block;
    padding:10px;
    margin-left: 5px;
    margin-right:5px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

.bar .section:hover{
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
}

.box{
    display: inline-block;
    vertical-align: text-top;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
    box-shadow: 0px 0px 10px #000;
    border: 2px solid #CCC;
    background-color: #DDD;
}

.interactiveSelect{
    
}

.interactiveSelect ul{
    list-style: none;
    display: inline-block;
    margin:0;padding:0;
}

.interactiveSelect ul li{
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
    border: 1px solid #CCC;
    background-color: #EEE;
}

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}
.jqmOverlay { background-color: #000; }
.jqmClose{ background:#FFDD00; border:1px solid #FFDD00; color:#000; clear:right; float:right; padding:0 5px; cursor:pointer; }
.jqmClose:hover{ background:#FFF; }

.useravatarbox{
    display:inline-block;
    padding: 5px;
}

.tabbed{
    
}

.tabContainer{
    background-color:#FFF;
    border: 2px solid #ae61ed;
    border-radius: 5px;
    padding: 5px;
}

.tabBar{
    list-style:none;
    margin:0;
    position:relative;
}

.tabBar li{
    list-style:none;
    display: inline-block;
    margin-top:5px;
    margin-left:2px;
    margin-right:2px;
    padding:5px;
    border: 1px solid  #CCC;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    min-width:20px;
    text-align:center;
    background-color: #EEE;
    position:relative;
    font-size: 10pt;
}

.tabBar li.selected{
    font-size: 12pt;
    border: 1px solid  #ae61ed;
    border-bottom: none;
    bottom:-2px;
    background-color: #FFF;
}

.comment{
  margin: 10px;
}

.comment>a{
  display:inline-block;
  vertical-align:text-top;
}

.comment .commentText{
  position: relative;
  margin-left: 15px;
  color:#333;
  display:inline-block;
  vertical-align:text-top;
  text-align:justify;
  font-size: 12pt;

  border-radius: 10px;
  border: 2px solid #490093;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
}

.comment .commentText::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;

  top: 16px;
  bottom: auto;
  left: -13px;
  border-width: 5px 13px 5px 0;
  border-color: transparent #000;
}

.comment .commentText::before {
  top: 13px;
  bottom: auto;
  left: -17px;
  border-width: 8px 17px 8px 0;
  border-color: transparent #490093;

  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.comment .commentText p{
  margin: 10px;
  padding: 0px;
}

.comment .commentInfo{
  font-size: 8pt;
  min-height: 20px;
  padding: 5px;
  color: #FFF;
  border-radius: 7px 7px 0px 0px;

  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
}
.comment .commentInfo a{color:#FFF;text-decoration:underline;}

.comment .commentInfo .button{
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: #000;
  text-decoration:none;
  font-size: 8pt;
  
  box-shadow: 0px 0px 5px #490093;
  background: #FFF;
}
.comment .commentInfo .button:hover{box-shadow: 0px 0px 10px #FFDD00;}

.commentBox{
  padding: 10px;
  margin: 10px;
  border: 2px solid #490093;
  border-radius: 10px;
  display: inline-block;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
}
.commentBox label{min-width:100px;}
.commentBox textarea{min-width:260px;}

.commentSection{
  padding: 10px;
  margin:10px;
  border: 2px solid #490093;
  border-radius: 10px;
  position:relative;
  display:inline-block;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
}
.commentSection .commentBox{
  padding: 0;margin: 0;border: none;
  background: none;
}